*{
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
body{
    width: 100%;
   height: 2800px;
    background: rgb(255, 255, 255);
}

.container{
    display: flex;
    
    
    backdrop-filter:blur (80px);
    height: 70px;
    width: 100%;
    
    top: 0px;
   

}
.bem-vindo{
    width:840px;
    margin-top: 290px;
    font-size: 25pt;
    margin-left: 70px;

}
.bem-vindo > span{
    color:transparent;
    background: none;
    font-size: 25pt;
    background-image: linear-gradient(to right , rgb(110, 0, 0) ,rgb(151, 42, 161), rgb(119, 0, 255));
    background-clip: text;
    
    
    
}
html{
    scroll-behavior: smooth;
}
.icone{
    display: flex;
    margin-top: 30px;
}
.icone > a{
    
    font-size: 60px;
}
.linguagens{
    margin-top: 30px;
    margin-left: 60px;
    font-size: 60px;
}
.introducao{
    display: inline-flex;
    color: rgb(66, 66, 66);
     font-weight: lighter;
    font-size: 18pt;
    width: 1080px;
    margin-left: 20px;
    margin-top: 40px;
}
.desenvolvedor{
    text-align: center;
    margin-top: 150px;
    animation-name: animacao;
    animation-duration: 2s;
    animation-delay: 0s;
    font-size: 70pt;
    background-image: linear-gradient(to right , rgb(110, 0, 0) ,rgb(151, 42, 161), rgb(119, 0, 255));
    background-clip: text;
    color: transparent;

}
.menu{
    
    margin-left: auto;
    margin-right: 200px;
   
    
}
@keyframes animacao{
    from{
        
          margin-top: 60px;
    }
    to{
       
        margin-top: 150px;
    }
}

a{
    margin-left: 90px;
    float: right;
    letter-spacing: 3px;
    margin-top: 26px;
    font-weight: bolder;
    font-size: 15pt;
    text-decoration: none;
    

}
.menu > a:hover{
    text-decoration: underline;
}
.lado{
    display: inline-flex;
}
.sobre {
    
    margin-top: 400px;
    
   
    border-radius: 20px;
    
    margin-left: 90px;
    
    
}
.eu{
    
     margin-left: 20px;   
     font-weight: bolder;
     font-size: 30pt;
     
}
.quadrado{
    float:right;
    margin-left: 20px;
    margin-top: 24px;
    width: 600px;
    height: 5px;
    background-image: linear-gradient(to right , rgb(110, 0, 0) ,rgb(151, 42, 161), rgb(119, 0, 255));
}

p{
    
    display: flexbox;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
    width:280px;
   font-size: 15pt;
    border-radius: 20px;
    font-weight: bolder;
}
p >span{
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 12pt;
    padding: 6px;
    background-color: black;
    border-radius: 30px;

}

.projetos{
display: inline-flex;
margin-left: 90px;
margin-top: 260px;
font-size: 16pt;
    
}
.caixa1 ,.caixa2{
    
    width: 500px;
    height: 600px;
    background-color: transparent;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 30px;
   
}
.primeiro{
    display: inline-flex;
    margin-left: 90px;
    margin-top: 70px;
   
}
.caixa2{
    float: right;
    margin-left: 20px;
   
}
.imagem {
    height: 200px; /* Altura desejada */
    width: auto; /* Largura ajustada automaticamente para manter a proporção */
    margin-left: 40px;
   margin-top: 15px;
    border-radius: 10px;
}
button{
   font-size: 15pt;
   font-weight: 700;
    border-radius: 10px;
    width: 150px ;
    height: 50px;
    margin-top: 70px;
    margin-left: 80px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: -1px -1px 40px -4px blueviolet;
}
button:hover{
    cursor: pointer;
    border: none;
    background-image: linear-gradient(150deg, rgb(89, 0, 255),rgb(132, 0, 255),rgb(189, 43, 226));
 }
 h2{
    font-size: 18pt;
    font-weight: lighter;
 }
 @media (max-width: 747px) {
    body{
        max-width: 747px;
    }
    .bem-vindo {
        width: 100%;
        margin-top: 150px;
        font-size: 28pt;
        margin-left: 20px;
    }

    .introducao {
        width: 100%;
        margin-left: 10px;
        font-size: 28pt;
    }

    .desenvolvedor {
        font-size: 50pt;
        margin-top: 100px;
    }

    .menu {
        margin-right: 50px;
    }

    .sobre {
        margin-left: 20px;
    }

    .quadrado {
        width: 100%;
    }

    .projetos {
        display: inline-flex;
        margin-left: 20px;
    }

    .primeiro {
        display: inline-flex;
        margin-left: 20px;
    }

    .imagem {
        margin-left: 20px;
        width: 100%;
    }
    .primeiro{
        display: inline-flex;
    }
    button {
        width: 100%;
        margin-left: 0;
    }
}
 /*resposividade para celular

 */
 @media (max-width: 550px)  {
    .container{
        width: 1000px;
    }
    .menu{
        display: inline-flex;
        margin-left: 250px;
        width: 10px;
    }
    .desenvolvedor{
        width: 1200px;
    }
    .eu{
        width: 220px;
    }
    .linguagens{
        display: inline-flex;
       
        
    }
    i{
        margin-left: 30px;
    }
    .primeiro{
        margin-left: 10px;
    }
  }
  /*resposividade para tablet

 */
 @media (max-width: 770px) {
  body{
    max-width: 770px;
  }

       
        

/* Garantir que os elementos não ultrapassem a largura da viewport */
img, video, .container {
    width: 100%;
    max-width: 100%;
}


/* Prevenir overflow horizontal */
body {
margin: 0;
padding: 0;
overflow-x: hidden;
}
.container{
display: inline;
width: 40px;
}
.container>p{
margin-left: 50px;
}
.menu{
margin-top: 10px;
margin-left: 46px;
}
.menu>a{

margin-left: 15px;
}
.desenvolvedor{
font-size: 32pt;
margin-left: 10px;
}

.bem-vindo{
margin-left: 10px;
margin-top: 200px;
font-size: 14pt;
width: 300px;
}
h1 >.sobre-mim{
font-size: 14pt;
}
.sobre{
margin-left: 1px;
width: 100px;
}
.eu{
margin-left: 2px;
font-size: 18pt;
width: 600px;
}
.quadrado{
margin-left: 6px;
margin-right: 120px;
margin-top: 14px ;
}
.introducao{
font-size: 14pt;
width: 300px;
margin-top: 20px;
margin-left: 15px;

}
i{
margin-left: 15px;
font-size: 20pt;

}
a{
margin-top: 2px;
margin-left: 1px;
}
.projetos{
margin-left: 10px;
}
h1{
font-size: 18pt;
margin-left: 1px;
}
.primeiro{
margin-left: 43px;
display: inline-block;
}
.caixa1,.caixa2{
width: 250px;
height: 500px;
margin-top: 20px;
}
.caixa2{
margin-left: 1px;
}

p{
margin-left: 1px;
font-size: 13pt;
}
h2{
font-size: 15pt;
}
.imagem{
margin-left: 10px;
width: cover;
height: 100px;
}
button{

margin-left: 1px;
width: 120px;
height: 40px;
}
 }
  /*resposividade para leptop

 */
 @media (max-width: 1024px) {
    /* Media query para telas menores que 500px */
   body{
    max-width: 1024px;
   }
    body {
        font-size: 14px;
    }

    /* Garantir que os elementos não ultrapassem a largura da viewport */
    img, video, .container {
        width: 100%;
        max-width: 100%;
    }

 
/* Prevenir overflow horizontal */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container{
display: inline;
width: 40px;
}
.container>p{
margin-left: 50px;
}
.menu{
margin-top: 10px;
margin-left: 46px;
}
.menu>a{

margin-left: 15px;
}
.desenvolvedor{
font-size: 32pt;
margin-left: 10px;
}

.bem-vindo{
margin-left: 10px;
margin-top: 200px;
    font-size: 14pt;
    width: 300px;
}
h1 >.sobre-mim{
font-size: 14pt;
}
.sobre{
margin-left: 1px;
width: 100px;
}
.eu{
margin-left: 2px;
font-size: 18pt;
width: 600px;
}
.quadrado{
margin-left: 6px;
margin-right: 120px;
margin-top: 14px ;
}
.introducao{
font-size: 14pt;
width: 300px;
margin-top: 20px;
margin-left: 15px;

}
i{
margin-left: 15px;
font-size: 20pt;

}
a{
margin-top: 2px;
margin-left: 1px;
}
.projetos{
margin-left: 10px;
}
h1{
font-size: 18pt;
margin-left: 1px;
}
.primeiro{
    margin-left: 43px;
    display: inline-block;
}
.caixa1,.caixa2{
    width: 250px;
    height: 500px;
    margin-top: 20px;
}
.caixa2{
    margin-left: 1px;
}

 p{
    margin-left: 1px;
    font-size: 13pt;
}
h2{
    font-size: 15pt;
}
.imagem{
    margin-left: 10px;
    width: cover;
    height: 100px;
}
button{
    
    margin-left: 1px;
    width: 120px;
    height: 40px;
}}
  /*resposividade para celular

 */

 @media (max-width: 390px) ,(max-width: 850px) {
    *{
        max-width: 390px;
        max-width: 850px;
        max-width: 747px
    }
    body {
        max-width: 390px;
        max-width: 850px;
        max-width: 747px;
        font-size: 16px;
    }

    /* Media query para telas menores que 500px */
   
        body {
            font-size: 14px;
        }

        /* Garantir que os elementos não ultrapassem a largura da viewport */
        img, video, .container {
            width: 100%;
            max-width: 100%;
        }
    

    /* Prevenir overflow horizontal */
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
   .container{
    display: inline;
    width: 40px;
   }
   .container>p{
    margin-left: 50px;
   }
   .menu{
    margin-top: 10px;
    margin-left: 46px;
   }
   .menu>a{
    
    margin-left: 15px;
   }
   .desenvolvedor{
    font-size: 32pt;
    margin-left: 10px;
   }
   
   .bem-vindo{
    margin-left: 10px;
    margin-top: 200px;
        font-size: 14pt;
        width: 300px;
   }
   h1 >.sobre-mim{
    font-size: 14pt;
   }
   .sobre{
    margin-left: 1px;
    width: 100px;
   }
   .eu{
    margin-left: 2px;
    font-size: 18pt;
    width: 600px;
   }
   .quadrado{
    margin-left: 6px;
    margin-right: 120px;
    margin-top: 14px ;
   }
   .introducao{
    font-size: 14pt;
    width: 300px;
    margin-top: 20px;
    margin-left: 15px;
   
   }
   i{
    margin-left: 15px;
    font-size: 20pt;
   
   }
   a{
    margin-top: 2px;
    margin-left: 1px;
   }
   .projetos{
    margin-left: 10px;
   }
   h1{
    font-size: 18pt;
    margin-left: 1px;
   }
    .primeiro{
        margin-left: 43px;
        display: inline-block;
    }
    .caixa1,.caixa2{
        width: 250px;
        height: 500px;
        margin-top: 20px;
    }
    .caixa2{
        margin-left: 1px;
    }
    
     p{
        margin-left: 1px;
        font-size: 13pt;
    }
    h2{
        font-size: 15pt;
    }
    .imagem{
        margin-left: 10px;
        width: cover;
        height: 100px;
    }
    button{
        
        margin-left: 1px;
        width: 120px;
        height: 40px;
    }
}